div{
    width: 500px;
    height: 400px;
    float: left;
    border: 1px solid red;
    margin: 10px;
    padding: 0px;
    box-shadow: 0 0 15px red;

}
img{
    max-height: 100%;
    max-width: 100%;
}
.box-s{
    box-shadow: #ebff47;
}
.box-s1{
    box-shadow: 0 0 15px #284bff;
    border-radius: 10px;
    opacity: 0.5;
}
.box-s1:hover{
    opacity: 1;

}