*{
    margin: 0;
    padding: 0;

}
body{
    font-size: 14px;
    color: #333333;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    background-color: #fcfcfc;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.header{
    background-color: white;
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;

}
.logo{
    float: left;
    width: 35%; /*Nhan ra 35% x 1200px*/
}
.toplinks{
    float: right;
    width: 50%;
}
.logo a{/*Thẻ a nằm trong khu vực của 1 phần tử có class là logo*/
    font-size: 28px;
    color: #222222;
    text-decoration: none;
    font-weight: 700;
}
.logo p{
    font-size: 15px;
    color: #444444;
}
.toplinks ul{
    float: right;
}
.toplinks li{
    float: left;
    margin-left: 20px;
    list-style: none;
}
.toplinks a{
    color: #222222;
    font-weight: 500;
    text-decoration: none;/*mat gach chan*/
    line-height: 52px;
}
.nav{
    background-color: #ffffff;
    padding: 20px 0;
     border-bottom: 1px solid #aabbcc;
}
menu{
    float: left;
}
.menu li{
    float: left;
    list-style: none;
    margin-right: 25px;
}
.menu li a{
    font-size: 15px;
    color: #222222;
    font-weight: 500;
    text-decoration: none;
}
.menu-right{
    float: right;
}
.menu-right a{
    font-size: 15px;
    color: #222222;
    font-weight: 500;
    text-decoration: none;

}
.main{
    margin-top: 30px;
}
.content{
    float: left;
    width: calc(66.67% -  15px);
    background-color: #ffffff;
    margin-right: 15px;
}
.sidebar{
    float: right;
    width: calc(33.33%  -  15px);
    margin-left: 15px;
}
.sidebar .box{
    float: left;
    width: calc(100% - 60px);
    padding: 30px;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.boxfirst{
    padding: 20px;
    margin-bottom: 15px;
    height: 450px;
    background-color: black;
    color: white;
    text-align: center;


}
.name{
    padding: 10px;
    text-align: left;
    margin-top: 100px;
    height: 50px;
    background-color: white;
    color: black;
    margin-bottom: 15px;
}
.Email{
    padding: 10px;
    text-align: left;
    height: 50px;
    background-color: white;
    color: black;
    margin-bottom: 15px;
}
.subscribe{
    padding: 20px;
    height: 30px;
    background-color: red;
    color: white;
    margin-bottom: 15px;
}
.boxsocial{
    height: 300px;
    background-color: white;
    text-align: center;
}
.icon{
    width: 30px;
    float: left;
    margin-right: 10px;
}
.boxsearch{
    height: 150px;
    background-color: white;
    padding: 15%;

}
.search{

    height: 50%;
    width: 50%;
    border: 1px solid black;
}

